name: Delete PR Preview EC2

on:
  pull_request:
    types: [closed]

jobs:
  delete:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Delete EC2 Instance
        run: |
          bash pr-preview/scripts/delete-ec2.sh ${{ github.event.number }}
